@import "style.scss";

.firstblock {
    @include block;

    .blockcontent {
        .content {
            margin: 2.5rem;
            display: flex;
            flex-direction: column;
            background: url('../images/b3aff3362ba0ae21892af88334f3207d.png');
            background-size: cover;

            .content_desc {
                margin: 2.5rem 6.25rem 5rem 6.25rem;
                display: flex;
                flex-direction: column;
                justify-content: center;

                p.path {
                    color: $grayblack;
                    font-size: 1rem;
                    line-height: 150%;
                    margin-bottom: 1.25rem;
                }

                p.title {
                    color: $black;
                    font-size: 3rem;
                    line-height: 120%;
                    font-weight: 700;
                }
            }
        }
    }
}

.secondblock {
    @include block;

    .blockcontent {
        .brands {
            @include title;
            margin: 2.5rem 8.75rem;

            .brandsblock {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-gap: 1rem;



                div.img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.3s ease;
                    border: solid 0.06rem $lightgray;

                    img {
                        max-width: 100%;
                        height: -webkit-fill-available;
                    }
                }

                div.img:hover {
                    border: solid 0.06rem $darkgray;
                }
            }
        }
    }
}

.thirdblock {
    @include block;

    .blockcontent {

        .brands_list {
            display: flex;
            flex-direction: column;
            margin: 2.5rem 8.75rem 5rem 8.75rem;

            .alphavite {
                display: row;
                flex-wrap: wrap;

                button {
                    background-color: $white;
                    color: $black;
                    font-size: 1.125rem;
                    line-height: 136%;
                    padding: 0.25rem 0.75rem;
                    border: 0.06rem solid $lightgray2;
                    margin-right: 0.5rem;
                    margin-bottom: 0.75rem;
                    transition: all 0.3s ease;
                }

                button:hover {
                    background-color: $yellow;
                    border: 0.06rem solid $yellow;
                    transition: all 0.3s ease;
                }

                button.checked
                {
                    background-color: $yellow;
                    border: 0.06rem solid $yellow;
                    transition: all 0.3s ease;
                }
            }

            .list {

                .list_item:last-of-type
                {
                    border-bottom: none;
                }
                .list_item {
                    padding: 1.75rem 0;
                    display: grid;
                    grid-template-columns: 1fr 5fr;
                    border-bottom: 0.06rem $lightgray solid;

                    .char {
                        width: 100%;
                        text-align: left;
                        font-size: 2.125rem;
                        line-height: 130%;
                        color: $black;
                    }

                    .items_div {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                        row-gap: 0.75rem;

                        a.item {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            div.content 
                            {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                .img
                                {
                                    display: none;
                                    aspect-ratio: 1/1;
                                    margin-right: 0.5rem;
                                }
                                p
                                {
                                color: $darkgrayblack;
                                font-size: 1rem;
                                line-height: 150%;
                                }
                            }
                        }
                        a.item:hover
                        {
                            div.content
                            {
                                .img
                                {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}