@charset "UTF-8";
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope-Light.eot");
  src: url("../font/Manrope-Light.eot?#iefix") format("embedded-opentype"), url("../font/Manrope-Light.woff2") format("woff2"), url("../font/Manrope-Light.woff") format("woff"), url("../font/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope-SemiBold.eot");
  src: url("../font/Manrope-SemiBold.eot?#iefix") format("embedded-opentype"), url("../font/Manrope-SemiBold.woff2") format("woff2"), url("../font/Manrope-SemiBold.woff") format("woff"), url("../font/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope-ExtraBold.eot");
  src: url("../font/Manrope-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../font/Manrope-ExtraBold.woff2") format("woff2"), url("../font/Manrope-ExtraBold.woff") format("woff"), url("../font/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope-Medium.eot");
  src: url("../font/Manrope-Medium.eot?#iefix") format("embedded-opentype"), url("../font/Manrope-Medium.woff2") format("woff2"), url("../font/Manrope-Medium.woff") format("woff"), url("../font/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope-Regular.eot");
  src: url("../font/Manrope-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Manrope-Regular.woff2") format("woff2"), url("../font/Manrope-Regular.woff") format("woff"), url("../font/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope-Bold.eot");
  src: url("../font/Manrope-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Manrope-Bold.woff2") format("woff2"), url("../font/Manrope-Bold.woff") format("woff"), url("../font/Manrope-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope-ExtraLight.eot");
  src: url("../font/Manrope-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../font/Manrope-ExtraLight.woff2") format("woff2"), url("../font/Manrope-ExtraLight.woff") format("woff"), url("../font/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
html {
  background-color: #2F323A;
}

:root {
  font-family: "Manrope";
}

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope";
  font-weight: 500;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

input:focus {
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blockcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  align-self: center;
  width: 100%;
}

@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope-Light.eot");
  src: url("../font/Manrope-Light.eot?#iefix") format("embedded-opentype"), url("../font/Manrope-Light.woff2") format("woff2"), url("../font/Manrope-Light.woff") format("woff"), url("../font/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope-SemiBold.eot");
  src: url("../font/Manrope-SemiBold.eot?#iefix") format("embedded-opentype"), url("../font/Manrope-SemiBold.woff2") format("woff2"), url("../font/Manrope-SemiBold.woff") format("woff"), url("../font/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope-ExtraBold.eot");
  src: url("../font/Manrope-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../font/Manrope-ExtraBold.woff2") format("woff2"), url("../font/Manrope-ExtraBold.woff") format("woff"), url("../font/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope-Medium.eot");
  src: url("../font/Manrope-Medium.eot?#iefix") format("embedded-opentype"), url("../font/Manrope-Medium.woff2") format("woff2"), url("../font/Manrope-Medium.woff") format("woff"), url("../font/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope-Regular.eot");
  src: url("../font/Manrope-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Manrope-Regular.woff2") format("woff2"), url("../font/Manrope-Regular.woff") format("woff"), url("../font/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope-Bold.eot");
  src: url("../font/Manrope-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Manrope-Bold.woff2") format("woff2"), url("../font/Manrope-Bold.woff") format("woff"), url("../font/Manrope-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../font/Manrope-ExtraLight.eot");
  src: url("../font/Manrope-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../font/Manrope-ExtraLight.woff2") format("woff2"), url("../font/Manrope-ExtraLight.woff") format("woff"), url("../font/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
html {
  background-color: #2F323A;
}

:root {
  font-family: "Manrope";
}

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope";
  font-weight: 500;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

input:focus {
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blockcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  align-self: center;
  width: 100%;
}

body {
  position: relative;
}

.shopping_cart_notification {
  position: relative;
}
.shopping_cart_notification .info {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  align-items: stretch;
  padding: 1rem;
}
.shopping_cart_notification .info div.product {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
}
.shopping_cart_notification .info div.product img {
  margin: 0.25rem;
  margin-right: 0.75rem;
  max-width: 15%;
  max-height: 100%;
  height: -webkit-fill-available;
  object-fit: contain;
}
.shopping_cart_notification .info div.product div.desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 80%;
}
.shopping_cart_notification .info div.product div.desc div.product_info p {
  font-size: 0.8rem;
  line-height: 140%;
  color: #171B24;
}
.shopping_cart_notification .info div.product div.desc div.product_info p.name {
  margin-bottom: 0.25rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.shopping_cart_notification .info div.product div.desc div.product_info p.price {
  font-weight: 700;
}
.shopping_cart_notification .info div.product div.desc a.get_to_cart::before {
  content: "Перейти в корзину";
}
.shopping_cart_notification .info div.product div.desc a.get_to_cart {
  color: #454950;
  font-size: 0.75rem;
}
.shopping_cart_notification .info div.product div.desc a.get_to_cart:hover {
  color: #171B24;
  font-weight: 700;
}

.headerblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
  z-index: 10;
}
.headerblock .blockcontent .header {
  height: 2.875rem;
  margin: 1rem 8.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headerblock .blockcontent .header a.logo {
  display: flex;
  flex-direction: row;
  margin-right: 5%;
  align-items: center;
}
.headerblock .blockcontent .header a.logo img {
  height: 100%;
}
.headerblock .blockcontent .header a.logo p {
  margin-left: 0.5625rem;
  color: #171B24;
  font-size: 1.5rem;
  font-weight: 700;
}
.headerblock .blockcontent .header .menu {
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-gap: 1rem;
  width: 75%;
}
.headerblock .blockcontent .header .menu .searching_div {
  display: flex;
  flex-direction: column;
  position: relative;
}
.headerblock .blockcontent .header .menu .searching_div #searching_list {
  display: flex;
  position: absolute;
  width: 100%;
  background-color: #FFFFFF;
  margin-top: 3.75rem;
  filter: drop-shadow(0.125rem 0.125rem 0.125rem #D1D1D3);
  flex-direction: column;
}
.headerblock .blockcontent .header .menu .searching_div #searching_list a {
  background-color: #FFFFFF;
  transition: all 0.3s ease;
}
.headerblock .blockcontent .header .menu .searching_div #searching_list a.list_item {
  height: 4rem;
  display: grid;
  grid-template-columns: 15% auto;
  grid-gap: 0.75rem;
  padding: 0.5rem 0.75rem;
}
.headerblock .blockcontent .header .menu .searching_div #searching_list a.list_item .list_item_img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
}
.headerblock .blockcontent .header .menu .searching_div #searching_list a.list_item .list_item_img img {
  width: 100%;
}
.headerblock .blockcontent .header .menu .searching_div #searching_list a.list_item .list_item_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headerblock .blockcontent .header .menu .searching_div #searching_list a.list_item .list_item_desc p.desc {
  line-height: 140%;
  font-size: 0.9rem;
  color: #171B24;
  margin-bottom: 0.25rem;
}
.headerblock .blockcontent .header .menu .searching_div #searching_list a.list_item .list_item_desc p.price {
  line-height: 140%;
  font-size: 0.9rem;
  color: #171B24;
  font-weight: 700;
}
.headerblock .blockcontent .header .menu .searching_div #searching_list a.category_item {
  height: 3rem;
  padding: 0.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headerblock .blockcontent .header .menu .searching_div #searching_list a.category_item p.supercategory {
  color: #5D6066;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}
.headerblock .blockcontent .header .menu .searching_div #searching_list a.category_item p.category {
  color: #171B24;
  font-size: 1rem;
}
.headerblock .blockcontent .header .menu .searching_div #searching_list a:hover {
  background-color: rgba(232, 233, 234, 0.4);
}
.headerblock .blockcontent .header .menu .searching_div #searching_list .title {
  padding: 0.2rem 1.25rem;
  border-bottom: 0.06rem solid #D1D1D3;
}
.headerblock .blockcontent .header .menu .searching_div #searching_list .title p {
  font-size: 0.75rem;
  color: #8B8D92;
}
.headerblock .blockcontent .header .menu .searching_div .closed {
  display: none !important;
}
.headerblock .blockcontent .header .menu .lk {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}
.headerblock .blockcontent .header .menu .lk button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}
.headerblock .blockcontent .header .menu .lk button .img {
  height: 50%;
  margin-bottom: 0.125rem;
  stroke: #5D6066;
  fill: none;
}
.headerblock .blockcontent .header .menu .lk button p {
  font-size: 0.9375rem;
  color: #454950;
  line-height: 145%;
}
.headerblock .blockcontent .header .menu .lk button:hover .img {
  stroke: #2F323A;
}
.headerblock .blockcontent .header .menu .lk button:hover p {
  color: #2F323A;
}

.header_nav_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  background-color: #FFFFFF;
}
.header_nav_block .blockcontent .header_nav {
  margin: 0.625rem 8.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_nav_block .blockcontent .header_nav a {
  font-size: 1rem;
  color: #454950;
  margin-right: 1.5rem;
  text-align: center;
}
.header_nav_block .blockcontent .header_nav a:hover {
  color: #171B24;
}
.header_nav_block .blockcontent .header_nav :last-child {
  margin-right: 0;
}

.headerblock,
.header_nav_block {
  border-bottom: #E8E9EA 0.06rem solid;
}

.button {
  background-color: #FCEC41;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.25rem;
  transition: 0.3s all ease;
}
.button div.content {
  display: flex;
  flex-direction: row;
}
.button div.content svg.img {
  height: 100%;
  stroke: #171B24;
}
.button div.content p {
  color: #171B24;
  font-size: 1.125rem;
  margin-left: 0.5rem;
}

button.button:hover {
  background-color: #2F323A !important;
}
button.button:hover div.content .img,
button.button:hover div.content p {
  stroke: #D1D1D3 !important;
  color: #D1D1D3 !important;
}
button.button:hover div.content:hover .img,
button.button:hover div.content:hover p {
  stroke: #FFFFFF !important;
  color: #FFFFFF !important;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  background-color: #2F323A;
}
footer .blockcontent .footer_content {
  margin: 2.5rem 8.75rem 1.25rem 8.75rem;
  display: flex;
  flex-direction: column;
}
footer .blockcontent .footer_content .nav {
  display: flex;
  flex-direction: row;
}
footer .blockcontent .footer_content .nav .feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 33.8%;
}
footer .blockcontent .footer_content .nav .feedback .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  height: 33.3%;
}
footer .blockcontent .footer_content .nav .feedback .logo img {
  margin-right: 0.5625rem;
}
footer .blockcontent .footer_content .nav .feedback .logo p {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 1.5rem;
}
footer .blockcontent .footer_content .nav .feedback .contacts {
  display: flex;
  flex-direction: column;
}
footer .blockcontent .footer_content .nav .feedback .contacts > *:nth-child(1) {
  margin-bottom: 1rem;
}
footer .blockcontent .footer_content .nav .feedback .contacts a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .blockcontent .footer_content .nav .feedback .contacts a p {
  font-size: 1rem;
  line-height: 1.5em;
  color: #E8E9EA;
  margin-left: 0.5rem;
}
footer .blockcontent .footer_content .nav .links {
  width: -webkit-fill-available;
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  grid-column-gap: 1rem;
  grid-row-gap: 0.75rem;
}
footer .blockcontent .footer_content .nav .links a {
  display: flex;
  flex-direction: row;
}
footer .blockcontent .footer_content .nav .links a img {
  display: none;
  height: auto;
  aspect-ratio: 1/1;
  margin-right: 0.25rem;
}
footer .blockcontent .footer_content .nav .links a p {
  color: #E8E9EA;
  font-size: 1rem;
  line-height: 150%;
}
footer .blockcontent .footer_content .nav .links a:hover img {
  display: initial;
}
footer .blockcontent .footer_content .credits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0 0 0;
  border-top: 0.06rem solid #5D6066;
  margin-top: 2.5rem;
}
footer .blockcontent .footer_content .credits p {
  font-size: 1rem;
  line-height: 1.5em;
  color: #D1D1D3;
}
footer .blockcontent .footer_content .credits .logos {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.search {
  background-color: #F6F6F6;
  border-bottom: #D1D1D3 solid 0.06rem;
  display: flex;
  flex-direction: row;
}
.search input {
  margin: 0.75rem 0 0.75rem 1rem;
  font-size: 1.125rem;
  color: #454950;
  border: none;
  background-color: #F6F6F6;
  width: -webkit-fill-available;
}
.search input::placeholder {
  color: #8B8D92;
}
.search button {
  padding: 0.75rem 1rem;
}
.search button img {
  height: auto;
  aspect-ratio: 1/1;
}

.locationblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  background-color: #F6F6F6;
}
.locationblock .blockcontent .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2.625rem;
  align-items: center;
  margin: 0 8.75rem;
}
.locationblock .blockcontent .header .location {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
}
.locationblock .blockcontent .header .location img {
  height: 47.6%;
  margin-right: 0.5rem;
}
.locationblock .blockcontent .header .location p {
  font-size: 0.9375rem;
  color: #5D6066;
}
.locationblock .blockcontent .header .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.locationblock .blockcontent .header .nav a {
  margin-left: 1.5rem;
  font-size: 0.9375rem;
  color: #5D6066;
  transition: 0.3s all ease;
}
.locationblock .blockcontent .header .nav a:hover {
  color: #2F323A;
}

#locationchoose .content {
  width: 39.7%;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 2.25rem;
}
#locationchoose .content p.title {
  color: #2F323A;
  font-size: 2.125rem;
  line-height: 130%;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}
#locationchoose .content .cities {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 1.5rem;
}
#locationchoose .content .cities button.city {
  display: flex;
  flex-direction: row;
}
#locationchoose .content .cities button.city img {
  display: none;
  margin-right: 0.5rem;
  transition: all 0.3s ease;
}
#locationchoose .content .cities button.city p {
  color: #2F323A;
  font-size: 1rem;
  line-height: 1.5em;
}
#locationchoose .content .cities button.city:hover img {
  display: initial;
}

.overflow_banner {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 27, 36, 0.6);
  z-index: 12;
  align-items: center;
  justify-content: center;
}

.overflow_banner.overflow_banner_show {
  display: flex;
}

.notifications {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: clamp(16rem, 30%, 24rem);
  bottom: 0;
  right: 1rem;
  z-index: 11;
}
.notifications .notification {
  width: -webkit-fill-available;
  height: 100px;
  background-color: #FFFFFF;
  filter: drop-shadow(0.125rem 0.125rem 0.125rem #D1D1D3);
  margin: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.notifications .notification button {
  position: absolute;
  height: 1.5rem;
  aspect-ratio: 1/1;
  top: 0;
  right: 0;
  margin-top: 0.125rem;
  margin-right: 0.125rem;
}
.notifications .notification button img {
  max-width: 100%;
  max-height: 100%;
  height: -webkit-fill-available;
  padding: 0.125rem;
}

#auth_form .form {
  display: flex;
  flex-direction: column;
  padding: 2.25rem;
  background-color: #FFFFFF;
}
#auth_form .form > * {
  margin-bottom: 1.5rem;
}
#auth_form .form > *:last-child {
  margin: 0;
}
#auth_form .form p.title {
  color: #2F323A;
  font-size: 2.125rem;
  line-height: 130%;
  font-weight: 600;
  text-align: center;
}
#auth_form .form .password_alert {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0;
}
#auth_form .form .password_alert img {
  height: 1.25rem;
  aspect-ratio: 1/1;
  margin-right: 0.5rem;
}
#auth_form .form .password_alert p {
  color: red;
  font-size: 0.75rem;
  line-height: 120%;
}
#auth_form .form .inputs {
  margin-bottom: 0;
}
#auth_form .form .buttons {
  display: flex;
  flex-direction: column;
}
#auth_form .form .buttons .button:nth-child(2) {
  margin-top: 0.75rem;
  background-color: #FFFFFF;
  border: #D1D1D3 solid 0.06rem;
}
#auth_form .form .buttons .button:nth-child(2) div.content p {
  color: #171B24;
}
#auth_form .form div.input_for {
  display: flex;
  flex-direction: column;
}
#auth_form .form div.input_for .for {
  color: #2F323A;
  font-size: 1rem;
  line-height: 150%;
  margin-bottom: 0.5rem;
}
#auth_form .form div.input_for div.input {
  background-color: #F6F6F6;
  width: 100%;
  border-bottom: 0.06rem solid #D1D1D3;
}
#auth_form .form div.input_for div.input input {
  padding: 0.75rem 1rem;
  font-size: 1.125rem;
  line-height: 136%;
  color: #454950;
  border: none;
  background: transparent;
  width: -webkit-fill-available;
}
#auth_form .form div.input_for div.input input::placeholder {
  font-size: 1.125rem;
  line-height: 136%;
  color: #8B8D92;
}
#auth_form .form div.input_for a {
  font-size: 0.9375rem;
  line-height: 145%;
  margin-top: 0.75rem;
  color: #5D6066;
}
#auth_form .login_form {
  width: min(26%, 23.5rem);
}
#auth_form .login_form div.input_for:nth-of-type(2) {
  margin-bottom: 0;
}
#auth_form .signup_form {
  width: min(40%, 35.75rem);
  display: none;
}
#auth_form .signup_form .inputs {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
}

/*# sourceMappingURL=page.css.map */
